.flashcard-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: 150px;
  height: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s;
}

.card.flip {
  transform: rotateY(180deg);
  background-color: #e9ecef;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
